<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增学生</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div style="width:450px;margin:30px auto;">
    <h3>新增学生</h3>
    <form th:action="@{/student/add}" method="post" id="addForm">
        <div>学号：<input name="stuNo" id="sno"></div>
        <div>姓名：<input name="stuName" id="sname"></div>
        <div>性别：<input name="gender"></div>
        <div>年龄：<input name="age"></div>
        <div>专业：<input name="major"></div>
        <div><input type="submit" value="提交"> <a th:href="@{/student/list}">返回</a></div>
    </form>
    <script>
        $("#addForm").submit(function(){
            if($("#sno").val()==""){alert("学号不能为空");return false;}
            if($("#sname").val()==""){alert("姓名不能为空");return false;}
        })
    </script>
</div>
</body>
</html>